<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <header>
      <h1>Thoughtful Industries</h1>
      <h3>Products to start meaningful conversations</h3>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">All Products</a></li>
            <li><a href="/cards">Featured Product: Philosofizer Cards</a></li>
          </ul>
        </nav>
    </header>
    <main>
      <%- include(page) %>
    </main>
    <footer><h4>&copy; Copyright 2019 Thoughtful Industries</h4></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>