<h2><%= title %></h2>
<!-- <ul>
  <% products.forEach(product => { %>
    <li>
      <form action="/products" method="post" class="disabled">
          <input type="text" name="name" value="<%= item.name %>" disabled="true" />
          <a href="#" class="formToggle">(e)</a>
          <input type="hidden" name="_id" value="<%= item._id %>" />

          <button name="_method" value="put">Save</button>
          <button name="_method" value="delete">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

<H3>Add New Product</H3>
<form action="/products" method="post">
  <input type="text" name="name" />
  <button>Save</button>
</form> -->